<!DOCTYPE html>
<html>
<head>
	<title>CRUD|Angular js</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <!-- <link rel="stylesheet" href="css/main-style.css"> -->
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="header">
        <div class="container"><hr>
            <div class="row">
                    <div class="col-md-6">
                        <h2>All Users</h2>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#addBtn">Add users</button>
                    </div>
            </div><hr>
            <div class="info-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                        <td>{{$index+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editBtn" ng-click="selectUsers(user)">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#dltBtn" ng-click="selectUsers">Delete</button>
                        </td>
                        </tr>

                    </tbody>
                </table>        
            </div>
        </div>
    </div>
<!-- Add User Button trigger modal -->
      <!-- Modal -->
      <div class="modal fade" id="addBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                        <div class="form-group row">
                                <label for="userName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" ng-model="newUser.name" placeholder="Your Name">
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" ng-model="newUser.email" placeholder="Your Email">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="saveUser()" data-dismiss="modal">Submit</button>
                    </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!-- Edit Button trigger modal -->
      <!-- Modal -->
      <div class="modal fade" id="editBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                    <label for="userName" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Your Name" ng-model="clickedUser.name">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Your Email" ng-model="clickedUser.email">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info" ng-click="updateUser()" data-dismiss="modal">Update</button>
                        </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
<!-- Delete Button trigger modal -->
      <!-- Modal -->
      <div class="modal fade" id="dltBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <p class="text-danger">Are you really want to delete {{selectUsers.name}}??</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" ng-click="deleteUser()" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
    
    <!-- Script  -->
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <!-- End script -->
</body>
</html>